<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MQTT Matrix</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<div class="mouse"></div>
<body>


        <header>
            <h1>Choose what you would like the matrix to display, then click submit.</h1>
        </header>

        <div class="container">
  <!-- Example row of columns -->

  <div class="row text-center">
        <div class="col-12 col-md-4">
          <button class="link">primary</button>
        </div>
        <div class="col-12 col-md-4">
          <button class="link">secondary</button>
        </div>
        <div class="col-12 col-md-4">
          <button class="link">light</button>
        </div>
      </div>



    </body>

</html>

